body {
  font-family: sans-serif;
}
.front-page {
  width: 500px;
  height: 900px;
  margin-bottom: 50px;
}
.outer-wrapper {
  padding: 20px 10px;
  text-align: center;
  width: 400px;
  height: 300px;
  /* background-color: orange; */
  background-image: linear-gradient(to bottom, orange 70%, white);
}

.outer-wrapper_afterButton {
  padding: 20px 10px;
  text-align: center;
  width: 400px;
  height: 100px;
  /* background-color: orange; */
  background-image: linear-gradient(to bottom, orange 70%, white);
}

.action-button {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  background: rgb(230, 176, 78);
  color: white;
  border-color: white;
}
.hero-image_afterButton {
  width: 180px;
  height: 270px;
  position: relative;
  right: 100px;
}
.score_afterButton {
  height: 30px;
  width: 40px;
  border-color: orange;
  border: solid orange 1px;
  border-radius: 5px;
  font-size: 20px;
  color: orange;
  line-height: 30px;
}
.plus {
  position: relative;
  right: 110px;
}
.rating {
  z-index: 1;
  margin-top: 30px;
  position: relative;
  right: 50px;
}
.content {
  display: flex;
  align-items: baseline;
}
.movie-detail {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
.details {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

.movie-name_afterButton {
  text-align: left;
  width: 30px;
}

/*.main-block {
  display: flex;
  margin-right: 200px;
  margin-top: 150px;
}*/
.movie-content {
  width: 400px;
  height: auto;
  font-family: PTSerif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
#second {
  height: 10px;
  width: 200px;
  margin-top: 40px;
}
.break {
  display: flex;
  justify-content: center;
}
progress {
  border-radius: 4px;
  width: 300px;
  height: 10px;
  box-shadow: none;
  padding: 3px;
}
progress::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: orange;
  border-radius: 7px;
  box-shadow: none;
}
progress::-moz-progress-bar {
  /* style rules */
}

.progressbar-afterButton {
  height: 10px;
  width: 200px;
  margin-top: 40px;
}
